<form *ngIf="showAddTask" class="add-form" (ngSubmit)="onSubmitTask()">
    <div class="form-control">
        <label for="task-text">Task</label>
        <input type="text" id="task-text" name="text" [(ngModel)]="text" placeholder="Add Task">
    </div>

    <div class="form-control">
        <label for="day">Day & Time</label>
        <input type="text" id="day" name="day" [(ngModel)]="day" placeholder="Add Day & Time">
    </div>

    <div class="form-control form-control-check">
        <label for="reminder">Set Reminder</label>
        <input type="checkbox" id="reminder" name="reminder" [(ngModel)]="reminder">
    </div>

    <input type="submit" value="Save Task" class="btn btn-block">
</form>